h1{
    font-family: sans-serif;
    text-align: center;
}
a.logo img{
height: 40px;
}
body{
    font-family: sans-serif;
    text-align: center;
    background-color: lightblue;
}
footer{
    font-family: sans-serif;
    text-align: center;
    background-color: gray;
}